footer.footer
    section.blue--section
        .blue--section__icon1
        .blue--section__text
            p ¿Ya conoces nuestras tiendas?
            a(href="#") Encuentra la más cercana y contáctate con ellos directamente
        .blue--section__icon2    
    section.grey--section    
        .grey--section__social 
            .social
                h2 ¡Suscríbete a nuestro boletín!
                p Entérate antes que nadie de los nuevos sets, los productos exclusivos, las promociones y eventos en las tiendas LEGO.
            form.form
                a(href="#") Continuar
                input(type="email", placeholder="Tu email")
            h2 Síguenos en nuestras redes sociales
            .fb 
                a(href="#") Logo fb
                a(href="#") @legostore.peru
            .insta
                a(href="#") Logo IG
                a(href="#") @legostore_peru
        .grey--section__info 
            h2 Tienda Lego
            ul.nav--info
                li: a(href="#") Nosotros
                li: a(href="#") Nuestras tiendas
                li: a(href="#") Preguntas frecuentes
                li: a(href="#") Servicio al cliente
                li: a(href="#") Seguimiento de mi pedido
                li: a(href="#") Piezas faltantes
                li: a(href="#") Cambios y/o Devoluciones
           
        .grey--section__legal 
            h2 Legales
            ul.nav--legal
                li: a(href="#") Contacto
                li: a(href="#") Términos y Condiciones
                li: a(href="#") Términos y Condiciones Programa Elite
                li: a(href="#") Legales
                li: a(href="#") Política de Privacidad
                li: a(href="#") Protección de propiedad intelectual
                li: a(href="#") Libro de Reclamaciones

        .grey--section__rigths
            p LEGO System A/S, DK-7190 Billund, Dinamarca. Solo se permite la compra en línea a personas mayores de 18 años. LEGO, el logotipo LEGO, la minifigura, DUPLO, LEGENDS OF CHIMA, NINJAGO, BIONICLE, MINDSTORMS y MIXELS son marcas comerciales y propiedades intelectuales de The LEGO Group. ©2021 The LEGO Group. Todos los derechos reservados. El uso de este sitio supone la aceptación de las cláusulas de uso. 
