header.header--princpal
	.header__icon-sandwich: i(class="fa-solid fa-bars") 
	.header__logo
	.header__section
		div(class="header__section icon-one"): i(class="fa-light fa-magnifying-glass") 
		div(class="header__section icon-two"): i(class="fa-regular fa-user")  
		div(class="header__section icon-three"): i(class="fa-light fa-cart-shopping") 
		p 0 


