* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

.header--princpal {
  width: 100%;
  min-width: 320px;
  height: 65px;
  padding: 7px 8px 7px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAC80A;
}
.header--princpal .header__icon-sandwich {
  width: 35px;
  height: 30px;
  background-image: url(./icons/menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
  margin-right: 50px;
}
.header--princpal .header__logo {
  width: 55px;
  height: 50px;
  background-image: url(./icons/logo.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header--princpal .header__section {
  width: 90px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 5px;
}
.header--princpal .header__section .icon-one {
  width: 20px;
  height: 20px;
  background-image: url(./icons/lupa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}
.header--princpal .header__section .icon-two {
  width: 20px;
  height: 20px;
  background-image: url(./icons/user.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}
.header--princpal .header__section .icon-three {
  width: 20px;
  height: 20px;
  background-image: url(./icons/cart.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}
.header--princpal .header__section p {
  position: absolute;
  background-color: #116DFF;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -5px;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.blue--section {
  width: 100%;
  min-width: 320px;
  background-color: #2E8EBD;
  padding-top: 25px;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.blue--section__icon1 {
  background-image: url(./icons/ser.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 10px;
}
.blue--section__text p {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
}
.blue--section__text a {
  color: #FFFFFF;
  font-size: 14px;
}

.grey--section {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: #D1D0D0;
}
.grey--section__social {
  width: 100%;
  height: auto;
  padding: 40px 10px 20px 10px;
}
.grey--section__social .social {
  text-align: center;
  margin-bottom: 25px;
}
.grey--section__social .social h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.grey--section__social .social p {
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px 0px 10px;
  font-weight: 300;
}
.grey--section__social .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px;
  grid-template-rows: 50px 50px;
  margin-bottom: 30px;
  padding-left: 55px;
  padding-right: 55px;
}
.grey--section__social .form a {
  background-color: #222222;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.grey--section__social .form input {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  padding-left: 10px;
}
.grey--section__social h2 {
  font-size: 15.5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.grey--section__social .fb, .grey--section__social .insta {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 50px;
  grid-template-rows: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.grey--section__social .fb > *:nth-child(1), .grey--section__social .insta > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grey--section__social .fb > *:nth-child(2), .grey--section__social .insta > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grey--section__social .insta {
  margin-bottom: 40px;
}
.grey--section__social .fb a:nth-child(2), .grey--section__social .insta a:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #575252;
}
.grey--section__social .fb a:nth-child(1), .grey--section__social .insta a:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
.grey--section__social .fa-brands {
  color: #646464;
  width: 100%;
  height: 100%;
  font-size: 40px;
}
.grey--section__info, .grey--section__legal {
  padding-left: 15px;
  margin-bottom: 55px;
}
.grey--section__info h2, .grey--section__legal h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 35px;
}
.grey--section__info .nav--info, .grey--section__info .nav--legal, .grey--section__legal .nav--info, .grey--section__legal .nav--legal {
  list-style: none;
}
.grey--section__info .nav--info li, .grey--section__info .nav--legal li, .grey--section__legal .nav--info li, .grey--section__legal .nav--legal li {
  margin-bottom: 5px;
}
.grey--section__info .nav--info li a, .grey--section__info .nav--legal li a, .grey--section__legal .nav--info li a, .grey--section__legal .nav--legal li a {
  color: #575252;
  text-decoration: none;
  line-height: 30px;
  font-weight: 200;
}
.grey--section__rigths {
  padding: 0px 10px 20px 10px;
  font-size: 12px;
  text-align: center;
  color: #575252;
  font-weight: 200;
  line-height: 18px;
}

/*
Flaticon icon font: Flaticon
Creation date: 20/12/2018 09:27
*/
@font-face {
  font-family: "Flaticon";
  src: url("/project1-lego/css/font/Flaticon.eot");
  src: url("/project1-lego/css/font/Flaticon.eot?#iefix") format("embedded-opentype"), url("/project1-lego/css/font/Flaticon.woff") format("woff"), url("/project1-lego/css/font/Flaticon.ttf") format("truetype"), url("/project1-lego/css/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/project1-lego/css/font/Flaticon.svg#Flaticon") format("svg");
  }
}
.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.flaticon-001-facebook:before {
  content: "\f100";
}

.flaticon-002-twitter:before {
  content: "\f101";
}

.flaticon-003-whatsapp:before {
  content: "\f102";
}

.flaticon-004-groupme:before {
  content: "\f103";
}

.flaticon-005-kik:before {
  content: "\f104";
}

.flaticon-006-skype:before {
  content: "\f105";
}

.flaticon-007-periscope:before {
  content: "\f106";
}

.flaticon-008-youtube:before {
  content: "\f107";
}

.flaticon-009-itunes:before {
  content: "\f108";
}

.flaticon-010-linkedin:before {
  content: "\f109";
}

.flaticon-011-instagram:before {
  content: "\f10a";
}

.flaticon-012-messenger:before {
  content: "\f10b";
}

.flaticon-013-twitter-1:before {
  content: "\f10c";
}

.flaticon-014-snapchat:before {
  content: "\f10d";
}

.flaticon-015-reddit:before {
  content: "\f10e";
}