header.header--princpal
	.header__icon-sandwich
	.header__logo
	.header__section
		div(class="header__section icon-one") 
		div(class="header__section icon-two") 
		div(class="header__section icon-three")
		p 0 


